.well.custom_filter_form
  :javascript
    var initialStartDate = "#{@start_date}"
    var initialEndDate = "#{@end_date}"

  .inline.control-group.start_date

  .inline.control-group.end_date

  .inline
    %button.btn.apply_filter Apply filter

  %select.placek
    %option Placek
    %option Placek2
