.well.custom_filter_form
  :javascript
    var filter = #{@filter.to_json.html_safe}

  .inline.start_date

  .inline.end_date

  .inline
    %button.btn.apply_filter Apply filter

%h5.not_bold Displaying standings from <b> #{l @start_date} </b> to <b> #{l @end_date} </b>
