.well.custom_filter_form
  :javascript
    var filter = #{@filter.to_json.html_safe}

  - if current_user
    .save_filter
      %a save filter

  .inline.start_date

  .inline.end_date

  .inline
    %button.btn.apply_filter Apply filter
