%ul.nav.nav-tabs
  %li.pull-right{class: ('active' if @span=='all_time')}= link_to 'All time', standings_path(date: Date.today, span: 'all_time')
  %li.pull-right{class: ('active' if @span=='year')}= link_to 'Year', standings_path(date: Date.today, span: 'year')
  %li.pull-right{class: ('active' if @span=='month')}= link_to 'Month', standings_path(date: Date.today, span: 'month')
  %li.pull-right{class: ('active' if @span=='week')}= link_to 'Week', standings_path(date: Date.today, span: 'week')
