%h1 Ranking
%table.table.table-striped
  %thead
    %tr
      %th #
      %th User
      %th Score
  %tbody
    %ul.nav.nav-tabs
      %li.pull-right.dropdown
        %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
          Old standings
          %b.caret
        %ul.dropdown-menu
          %a Weeks
          %a Months
          %a Years

      %li.pull-right
        %a All time
      %li.pull-right
        %a Year
      %li.pull-right
        %a Month
      %li.active.pull-right
        %a Week

    - @ranking.positions.each_with_index do |position, index|
      %tr
        %td= index + 1
        %td= link_to position.user_name, user_path(position.user_id)
        %td= position.score
