$green: #1c7e45
table.group-table
  td.accepted
    color: white
    background: $green
    border-color: $green
    font-size: 12px
    text-align: center

.menu-with-images
  a
    padding-left: 8px
    img
      margin-right: 5px
    .date
      opacity: 0.5
